.header-section {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.header-menu {
  display: flex;
  align-items: center;

}

.header-links {
  padding-right: 50px;
}

.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 230px;
    background-color: rgb(238, 236, 236);
    width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.list p {
  height: 2px;
}

.footer-lists {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;  
}


