.header-section {
  display: flex;
  justify-content: space-between;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}

.header-menu {
  display: flex;
  align-items: center;

}

.header-links {
  padding-right: 50px;
}

.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 230px;
    background-color: rgb(238, 236, 236);
    width: 100%;
}

.footer-content h1{
  margin-left: 37px;
}

.footer-content {
  margin-left: 460px;
  display: flex;
}

ul {
  list-style-type: none;
  
}

li {
  margin-top: 20px;
}